<div class="mask hide" #loadingCon>
    <webex-description
        primary="Training......"
        secondary="Check the changing"
        className="middle"
    ></webex-description>
    <canvas class="previewCanvas" #previewCanvas></canvas>
    <h1 #progessTag>100</h1>
    <button class="button-red" (click)="stopTrain()">stop training</button>
</div>
<div class="mask hide" #loadingCon2>
    <webex-description
        primary="Loading..."
        className="large"
    ></webex-description>
</div>
<div #appCon>
    <webex-con>
        <webex-description
        primary="Watch how AI learn your painting."
        secondary="Draw at least {{ leastNum }} icons. You 've already drawn {{ handDrawImages.length }} icons"
        className="middle"
        ></webex-description>
        <div class="canvas" #canvasCon></div>
        <input class='hide' #iptUpload (change)="uploadImages($event)" type="file" accept="image/png, image/jpeg" webkitdirectory multiple />
        <div class="list-con">
            <button class="button-blue" (click)="clearCanvas()" >clear canvas</button>
            <button class="button-orange" (click)="openUploader()">upload images</button>
            <button class="button-orange" (click)="addhandDraw()">add canvas</button>
        </div>
        <div class="list-con">
            <a #hideDownloadBtn class="hide"></a>
            <input *ngIf="handDrawImages.length>=leastNum" class="input" type="number" [(ngModel)]="epochs"  min="300" max="5000" step="100" onKeyDown="return false"/>
            <button *ngIf="handDrawImages.length>=leastNum" class="button-red highlight-purple" (click)="train()">Train model</button>
            <button *ngIf="canPredict" class="button-red highlight-orange" (click)="predict()">Predict</button>
            <button *ngIf="canPredict" (click)="download()">download</button>
        </div>
        <webex-description
        primary="We will use these images to train AI model"
        secondary="1. Click 'add canvas' button to confirm your image.
        <br>2. You can also click 'upload images' button to upload local images.
        <br>3. If you want to remove the image, click 'X' at the bottom of image. "
        className="middle"
        ></webex-description>
        <div class="list-con" #handDrawImagesCon>
            <div class="list-card" *ngFor="let item of handDrawImages; let i=index;" >
                <img [src]="item" width="64" height="64"/> 
                <a  class="button-red" (click)="removehandDraw(i)">x</a>
            </div>
        </div>
        <div #predictCon>
            <webex-description
            primary="AI Generated IMAGES"
            className="small"
            ></webex-description>
            <div class="predict-images">
                <canvas *ngFor="let item of predictSlot"></canvas>          
            </div>
        </div>
    </webex-con>
</div>