/* You can add global styles to this file, and also import other style files */
@use 'settings.scss' as settings;
@use 'colors.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'functions.scss' as func;

@font-face {
    font-family: 'CiscoSansTT';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/CiscoSansTTRegular.woff2') format('woff2'),
      url('./assets/font/CiscoSansTTRegular.woff') format('woff');
    font-display: fallback;
}

* {
    font-family: CiscoSansTT, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: colors.$font-primary;
    text-decoration: none;
}

body,html {
  background-color: colors.$page-background;
  min-width: 375px;
}

body{
  @include mixins.placeholder(100%, 6rem);
}

button {
  @include mixins.block(auto, 2rem, inline-block);
  padding: 0 0.5rem;
  margin-right: 1rem;
  background-color: colors.$gray-50;
  border: 1px solid colors.$gray-30;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: colors.$gray-70;
  }
}

.input {
  @include mixins.block(auto, 2rem, inline-block);
  color: black;
  margin-right: 1rem;
  border: 1px solid colors.$gray-30;
  text-indent: 0.5rem;
  border-radius: 0.25rem;
}

.button-blue {
  background-color: colors.$blue-50;
  border-color: colors.$blue-30;

  &:hover {
    background-color: colors.$blue-70;
  }
}

.button-red {
  background-color: colors.$red-50;
  border-color: colors.$red-30;

  &:hover {
    background-color: colors.$red-70;
  }
}

.button-green {
  background-color: colors.$green-50;
  border-color: colors.$green-30;

  &:hover {
    background-color: colors.$green-70;
  }
}

.button-orange {
  background-color: colors.$orange-50;
  border-color: colors.$orange-30;

  &:hover {
    background-color: colors.$orange-70;
  }
}

.hide {
  display: none!important;
}

.mask {
  @include mixins.block(100vw, 100vh);
  @include mixins.position(0, 0, fixed);

  line-height: 100%;
  background-color: rgba(0,0,0,0.85);
  z-index: 1000;

  text-align: center;
}

.highlight-purple {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}

.highlight-orange {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem colors.$orange-30,
            0 0 0.8rem colors.$orange-30,
            0 0 2.8rem colors.$orange-30,
            inset 0 0 1.3rem colors.$orange-30; 
}
 