$page-background: #181818;
$section-background: #252525;

$font-primary: #ffffff;
$font-primary-hover: #757575;
$font-secondary: #818181;

$font-3rd:#4A4A4A;

$border-color: rgba(255,255,255,0.2);
$border-color-button: #3E3E3E;

$white: #ffffff;
$black: #000000;

$blue-30: #96D0FF;
$blue-50: #3492EB;
$blue-70: #0353A8;

$green-30:#68DEBD;
$green-50:#27A17A;
$green-70: #185E46;

$red-30:#FFB8C1;
$red-50:#F55868;
$red-70: #AB0A15;

$orange-30:#FFCA99;
$orange-50:#F26B1D;
$orange-70: #914017;

$gray-30:#C9C9C9;
$gray-50:#8F8F8F;
$gray-70: #545454;
